{% set navigation = pimcore_build_nav(document, navStartNode) %}
{% set menuRenderer = pimcore_nav_renderer('menu') %}

<div id="off-canvas" data-uk-offcanvas="overlay: true; flip: true">
    <div class="uk-offcanvas-bar uk-flex uk-flex-column">

        <div class="uk-margin">
            {% include 'Navigation/search.html.twig' with { mode: 'uk-search-default' } %}
        </div>

        <ul class="uk-nav uk-nav-primary uk-nav-center uk-margin-auto-vertical">
            {% for page in navigation %}
                {% if (page.isVisible and menuRenderer.accept(page)) %}

                    <li class="{{ page.hasPages ? 'uk-parent' }} {{ page.isActive(true) ? 'uk-active' }}">
                        <a href="{{ page.href }}">{{ page.label }}</a>

                        {% if page.hasPages %}
                            <ul class="uk-nav-sub">

                                {% for child in page.pages %}
                                    {% if (child.isVisible and menuRenderer.accept(child)) %}
                                        <li class="{{ child.isActive(true) ? 'uk-active' }}">
                                            <a href="{{ child.href }}" target="{{ child.target }}">{{ child.label }}</a>
                                        </li>
                                    {% endif %}
                                {% endfor %}

                            </ul>
                        {% endif %}
                    </li>

                {% endif %}
            {% endfor %}
        </ul>

    </div>
</div>