<div id="mobile-navigation" class="uk-offcanvas" data-uk-offcanvas="overlay: true; flip: true">
    <div class="uk-offcanvas-bar uk-flex uk-flex-column">

        <button class="uk-icon uk-close uk-offcanvas-close" type="button" data-uk-close></button>

        <ul class="uk-nav uk-nav-primary uk-nav-center uk-margin-auto-vertical">
            {% for page in navigation|filter(page => page.isVisible and menu_renderer.accept(page)) %}
                <li class="{{ page.hasPages ? 'uk-parent' }} {{ page.isActive(true) ? 'uk-active' }}">
                    <a href="{{ page.href }}">{{ page.label }}</a>

                    {% if page.hasPages %}
                        <ul class="uk-nav-sub">
                            {% for child in page.pages|filter(child => child.isVisible and menu_renderer.accept(child)) %}
                                <li{% if child.isActive(true) %} class="uk-active"{% endif %}>
                                    <a href="{{ child.href }}" target="{{ child.target }}">{{ child.label }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>

    </div>
</div>
