{% apply spaceless %}
<!DOCTYPE html>
<html lang="{{ app.request.locale|replace({'_': '-'}) }}">
<head>
    {% block metadata %}
        {%- if pimcore_website_config('name') is not empty -%}
            {%- do pimcore_head_title().append(pimcore_website_config('name')) -%}
            {%- do pimcore_head_title().setSeparator(' | ') -%}
        {%- endif -%}

        {{ pimcore_head_title() -}}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {{ pimcore_head_meta() -}}
        {{ pimcore_head_link() -}}
    {% endblock %}
    {% block styles %}
        {{- include('layout/favicons.html.twig') }}
        {{- encore_entry_link_tags('js/app') }}
        {% if editmode %}{{- encore_entry_link_tags('css/editmode') -}}{% endif %}
    {%- endblock %}
    {%- block scripts %}
        {{- encore_entry_script_tags('js/app') }}
    {% endblock %}
</head>
<body>
{{ include('layout/header.html.twig') }}
<main class="uk-height-viewport" data-uk-height-viewport="expand: true">
    {% block content %}{% endblock %}
</main>
{{ include('layout/footer.html.twig') }}
</body>
</html>
{% endapply %}
