{% apply spaceless %}
<!DOCTYPE html>
<!-- Copyright
                          _      _
     _      __     _   __(_)____(_)___  ____
    | | /| / /____| | / / / ___/ / __ \/ __ \
    | |/ |/ /_____/ |/ / (__  ) / /_/ / / / /
    |__/|__/      |___/_/____/_/\____/_/ /_/

    Web development by
    w-vision AG, Sandgruebestrasse 4, 6210 Sursee, Switzerland
    https://www.w-vision.ch, support@w-vision.ch
    Copyright © {{ 'now'|date('Y') }} w-vision AG. All rights reserved.
    Pimcore - Own the Digital World | Digital Enterprise Content Platform
-->
<html lang="{{ app.request.locale|replace({ '_': '-' }) }}">
<head>
    {% block metadata %}
        {%- if pimcore_website_config('name') is not empty -%}
            {%- do pimcore_head_title().append(pimcore_website_config('name')) -%}
            {%- do pimcore_head_title().setSeparator(' | ') -%}
        {%- endif -%}

        {{ pimcore_head_title() -}}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {{ pimcore_head_meta() -}}
    {% endblock %}
    {% block styles %}
        {{- include('layout/favicons.html.twig') }}
        {{- encore_entry_link_tags('js/app') }}
        {% if editmode %}{{- encore_entry_link_tags('css/editmode') -}}{% endif %}
    {%- endblock %}
    {%- block scripts %}
        {{- encore_entry_script_tags('js/app') }}
    {% endblock %}
    {%- block headscripts deferred %}
        {{- pimcore_head_script() }}
    {% endblock %}
</head>
<body>
{{ include('layout/header.html.twig') }}
<main data-uk-height-viewport="expand: true">
    {% block content %}{% endblock %}
</main>
{{ include('layout/footer.html.twig') }}
</body>
</html>
{% endapply %}