<div class="{{ class }}">
    <ul class="uk-pagination" data-uk-margin>

        {% if currentSearchPage > 1 %}
            <li><a href="{{ searchUrl }}{{ searchUrlData }}&page={{ currentSearchPage - 1 }}"><span data-uk-pagination-previous></span></a></li>
        {% endif %}

        {% for i in searchPageStart..searchPageEnd %}
            {% if currentSearchPage === i %}
                <li class="uk-active"><span>{{ i }}</span></li>
            {% else %}
                <li><a href="{{ searchUrl }}{{ searchUrlData }}&page={{ i }}">{{ i }}</a></li>
            {% endif %}
        {% endfor %}

        {% if currentSearchPage > currentSearchPage %}
            <li><a href="{{ searchUrl }}{{ searchUrlData }}&page={{ currentSearchPage + 1 }}"><span data-uk-pagination-next></span></a></li>
        {% endif %}

    </ul>
</div>